[submodule "backend"]
	path = backend
	url = https://github.com/agoose77/multiplayer-crossword-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/agoose77/multiplayer-crossword-frontend.git
